.bg-grey {
  background-color: #e5e5e5;
}

.bg-white {
  background-color: #ffffff;
}

.ant-badge-dot {
  background-color: #34b53a;
}

.ant-badge-count,
.ant-badge-dot,
.ant-badge .ant-scroll-number-custom-component {
  position: absolute;
  top: 25px;
  right: 3px;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  border: none;
}

.m-text {
  font-size: 22px;
  font-weight: 500;
}

.ml-text {
  font-size: 28px;
  font-weight: 700;
}

.ls-text {
  font-size: 22px;
  font-weight: bold;
}

.s-text {
  color: #92929d;
  font-size: 14px;
  font-weight: 700;
}

.xs-text {
  font-size: 12px;
  font-weight: 400;
}

.xsb-text {
  font-size: 14px;

  font-weight: bold;
}
.rs-num {
  color: #ff3a29;
  font-size: 20px;
  font-weight: 400;
}

.r-num {
  color: #ff3a29;
  font-size: 38px;
  font-weight: 700;
}

.num {
  font-size: 22px;
  font-weight: bold;
}

.b-num {
  font-size: 40px;
  font-weight: bold;
}

/* color code */
.r {
  color: #ff3a29;
}

.b {
  color: #4339f2;
}

.ant-menu-title-content {
  padding-right: 38px;
  padding-left: 10px;
}

.ant-menu-horizontal {
  border-bottom: none;
}

.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content,
.ant-menu-inline.ant-menu-root
  .ant-menu-submenu-title
  > .ant-menu-title-content {
  min-width: fit-content;
}
